body {
    background-color: #404040;
    font-family: 'Lato', sans-serif;
}

div.error {
    font-size: 20px;
    color: red;
    text-align: center;
    text-transform: uppercase;
}


div.success {
    font-size: 20px;
    color: green;
    text-align: center;
    text-transform: uppercase;
}


#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: #666666;;
}

#logo {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 900;
}

#menu {
    background-color: #303030;
    margin-top: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 10px;
}

/*#topbar*/
/*{*/
/*    background-color: #128870;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 25px;*/
/*    height: 170px;*/
/*}*/

/*#topbarL*/
/*{*/
/*    float:left;*/
/*    padding: 20px;*/
/*    width: 138px;*/
/*    text-align: center;*/
/*    border-right: 2px dotted #cccccc;*/
/*}*/

/*#topbarR*/
/*{*/
/*    float: left;*/
/*    padding: 20px;*/
/*    width: 760px;*/
/*    font-size: 16px;*/
/*    text-align: justify;*/
/*}*/


#content {
    /*float: left;*/
    clear: both;
    padding: 40px;
    width: 920px;
    background-color: #dedede;
    min-height: 450px;
    text-align: justify;

}

#footer {
    clear: both;
    color: white;
    text-align: center;
    padding: 20px;
}

.option {
    float: left;
    min-width: 50px;
    height: 45px;
    font-size: 18px;
    padding: 0;
    border-right: 2px dotted #444444;
    opacity: 0.8;
}

.option:hover {
    background-color: #000000;
    cursor: pointer;
}


.bigtitle {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
}

.dottedline {
    height: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #444444;
}

#logout {
    border: none;
    float: right;
}

a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    min-width: 50px;
    height: 25px;
    padding: 10px;
}

.modify_form_wrapper {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modify_form_title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
    color: #128870;
    text-transform: uppercase;
    text-align: center;
}

.modify_input_field {
    color: #666666;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.modify_label {
    text-transform: uppercase;
    min-width: 170px;
    width: 250px;
    margin-right: 10px;
    font-size: 20px;
}

.modify_input,
.modify_textarea {
    background-color: #efefef;
    color: #666666;
    width: 100%;
    outline: none;
    border: 1px solid #128870;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.modify_input:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

.modify_textarea {
    resize: none;
    min-height: 125px;
}

.modify_select_wrapper {
    position: relative;
    width: 100%;
    height: 38px;
}


.modify_select {
    /*appearance: none;*/
    border: 1px solid #128870;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    font-size: 18px;
    background-color: #efefef;
    color: #666;
    cursor: pointer;
}

.modify_btn {
    background-color: #128870;
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
    border: 0;
    color: #FFFFFF;
    border-radius: 3px;
    outline: none;
    font-weight: 600;
}

.welcome {
    margin-top: 150px;
    color: #128870;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}



.specific_search_label {
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 15px;
}

.specific_search_select {
    position: relative;
    /*width: 100%;*/
    height: 30px;
    width: 100px;
}


.specific_search_select {
    appearance: none;
    border: 1px solid #128870;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    border-radius: 2px;
    outline: none;
    font-size: 15px;
    background-color: #efefef;
    color: #666;
    cursor: pointer;
}


/*specific stats*/

.specific_search_menu {
    margin-left: auto;
    margin-right: auto;
    width: 893px;
}

.specific_search_input_field {
    float: left;
    color: #666666;
    display: flex;
    align-items: center;
    padding: 0 20px 20px 20px;
    /*border-right: 1px solid black;*/
    padding-left: 10px;
    padding-right: 10px;
}

.specific_search_input {
    background-color: #efefef;
    outline: none;
    border: 1px solid #128870;
    font-size: 15px;
    height: 28px;
    padding: 0 0 0 5px;
    border-radius: 1px;
    transition: all 0.3s ease;
}

.specific_search_select_wrapper {
    position: relative;
    /*width: 100%;*/
    height: 30px;
    width: 100px;
}

.specific_search_select {
    appearance: none;
    border: 1px solid #128870;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    border-radius: 2px;
    outline: none;
    font-size: 15px;
    background-color: #efefef;
    color: #666;
    cursor: pointer;
}

.btn_search {
    background-color: #128870;
    width: 80px;
    height: 30px;
    /*padding: 10px 10px;*/
    font-size: 15px;
    border: 0;
    color: #FFFFFF;
    border-radius: 3px;
    /*outline: none;*/
}

.specific_search_table_wrapper {
    border: 1px solid black;
    overflow-y: scroll;
    flex-grow: 1;
    height: 300px;
}

.search_table_header_serialNo {
    min-width: 250px;
}

.search_table_header_mechanism {
    min-width: 200px;
}

.search_table_header_size {
    min-width: 200px;
}

.search_table_header_state {
    min-width: 150px;
}

th {
    position: sticky;
    top: -1px;
    background: #DDD;
}

td, th {
    /*border: 1px solid black;*/
    text-align: center;
    padding: 8px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.table_row:nth-child(even) {
    background-color: #6d8c88;
    color: white;
}

.table_row:hover
{
    background-color: #128870;
    color: white;
}